<header>
    <div class="bg-white text-center pt-5" style="height: 100vh;">
        <div class="container">
        <h1 class="text-center text-danger h1">Prohibido</h1>
            <img src="https://img.freepik.com/vector-premium/barrera-calle-acceso-error-403-prohibido_637684-56.jpg?w=2000" alt="">
        </div>
        <a href="/" class="btn btn-warning my-4">Home</a>
        
    </div>
</header>