<style>
    .text__register {
        color: rgb(127, 127, 255);
    }
    .text__register:hover {
        transition-duration: 0.3s;
        color: white;
    }
</style>

<div class="vh-100" style="background-image: url('img/background.jpg'); background-size: cover;">
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5 m-5 " style="background-color: rgba(36, 33, 33, 0.5);">
            <div class="col-lg-7 text-center text-lg-start">
                <p class="col-lg-10 fs-4 text-white">"Tu Pilcha" es una tienda de ropa moderna y vibrante que atiende a personas que aprecian estilos únicos y vanguardistas. Ubicada en una bulliciosa área urbana, la tienda emana un ambiente acogedor y enérgico, atrayendo a entusiastas de la moda de todas las edades.</p>
            </div>
            {{#if isLoggedIn}}
            <h1 class=" col-lg-3 text-center bg-dark m-auto py-2">Ya estas logueado!</h1>
            {{else}}
            <div class="col-md-10 mx-auto col-lg-5">
                {{> formLogin}}
            </div>
            {{/if}}
        </div>
    </div>
</div>
