<div class="container">
    <h1>Todos los usuarios</h1>
    <section>
        <ul id="users"></ul>
    </section>
    <a href="/" class="btn btn-primary">Home</a>
</div>

<script src="js/userViews.js"></script>